APP_PORT: 3017
APP_HOST: 0.0.0.0
APP_PASSWORD_PAPER: "change-me-random-string"
APP_JWT_SECRET: "change-me-long-random-secret-key"
APP_CORS_ORIGIN: "http://localhost:3018"

DATABASE_SQL_URL: "mysql://spyglass:spyglass@mariadb:3306/spyglass"
DATABASE_LOGGING=false

FRIGATE_MQTT_URL: "mqtt://frigate-mqtt:1883"
FRIGATE_TOPIC_PREFIX: "frigate"
FRIGATE_API_URL: "http://frigate:5000"

VITE_API_URL=http://localhost:3017/api/v1