NODE_ENV=development

# Frigate
FRIGATE_MQTT_URL=
FRIGATE_TOPIC_PREFIX=
FRIGATE_API_URL=

# Database
DATABASE_URL="mysql://lamer:QazWsx123@localhost:3306/spyglass"
DATABASE_LOGGING=false

# Server
APP_PORT=3000
APP_HOST=0.0.0.0
APP_PASSWORD_PAPER=
APP_JWT_SECRET=
APP_CORS_ORIGIN=http://localhost:3018,https://spyglass.example.com
